@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

.background-gradient {
  background-color: #00dbde;
  background-image: linear-gradient(168deg, #13b7b9 0%, #002169 100%);
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 93.71%,
    4% 95.58%,
    8% 96.96%,
    12% 97.77%,
    16% 97.99%,
    20% 97.6%,
    24% 96.62%,
    28% 95.09%,
    32% 93.11%,
    36% 90.76%,
    40% 88.17%,
    44% 85.46%,
    48% 82.79%,
    52% 80.28%,
    56% 78.06%,
    60% 76.24%,
    64% 74.92%,
    68% 74.17%,
    72% 74.02%,
    76% 74.48%,
    80% 75.52%,
    84% 77.1%,
    88% 79.14%,
    92% 81.52%,
    96% 84.13%,
    100% 86.84%
  );
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
  width: 100%;
}
